@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
}


.team_section {
    background-color: cornflowerblue;
    text-align: center;
}


.team_section h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}


.team_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.team_item {
    width: calc((100% - 40px) / 3);
    border: 1px solid red;
}


.team_item h3 {
    text-transform: capitalize;
    text-decoration-line:underline;
    text-decoration-color: orange;
    text-decoration-style: solid;
    text-underline-offset: 7px;
    font-family: "Lato", sans-serif;
}


.team_item h4 {
    text-transform: lowercase;
    font-family: "Roboto", sans-serif;
}


.team_item .old_price {
    text-decoration: line-through;
    color: red;
    font-size: 13px;
    font-weight: 100;
}


.team_item .new_price {
    color: green;
    font-size: 20px;
    font-style: italic;
    font-weight:900;
}


a {
    text-decoration: none;
}


.price {
    margin: 5px 0;
}